/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1 {
  text-align: center;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page, .question-page, .correct-page, .incorrect-page, .results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page {
  width: 
}


.start-page form {
  width: 100%;
}

.start-page form button {
  width: 100%;
  height: 50px;
}

.question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-page form{
  display: flex;
  flex-direction: column;
  align-items: center;
}